<%= form_with model: aqua, id: 'aquarium', local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, id:"aqua_title" %>
  </div>

  <div class= "category">
    <%= f.label :category, "タイプ" %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: '---'},{class:"category_select"}) %>
  </div>

  <div class="field">
    <%= f.label :details, "詳細" %><br />
    <%= f.text_area :details, class: :form__text, id:"aqua_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :image, "アクアリウムの画像" %><br />
    <%= f.file_field :image, id:"aqua_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
  <div id="image-list"></div>
<% end %>