<main class="main">
  <div class="inner">
    <div class="aqua__wrapper">
      <p class="aqua__hedding">
        <%= @aqua.title %>
      </p>
      <%= link_to "by #{@aqua.user.nickname}", user_path(@aqua.user.id), class: :aqua__user %>
        <% if user_signed_in? && current_user.id ==@aqua.user_id %>
        <div class="aqua__manage">
          <%= link_to "編集する", edit_aqua_path(@aqua.id), class: :aqua__btn %>
          <%= link_to "削除する", aqua_path(@aqua.id), method: :delete, class: :aqua__btn %>
        </div>
      <% end %>
      <div class="aqua__image">
        <%= image_tag @aqua.image %>
      </div>
      <div class="aqua__body">
        <div class="aqua__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @aqua.details %>
          </p>
        </div>
      </div>
      <div class="aqua__log">
        <ul class="logs_lists">
          <% if @logs %>
            <% @logs.each do |log| %>
              <li class="logs_list">
                <%= link_to image_tag(log.image), aqua_log_path(log.id) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="log__form">
        <% if user_signed_in? && current_user.id ==@aqua.user_id %>
          <p>画像を追加する</p>
          <%= form_with(model: [@aqua,@log], local: true) do |form| %>
            <div class="field">
              <%= form.label :title, "タイトル" %><br />
              <%= form.text_field :title %>
            </div>
            <div class="field">
              <%= form.label :text, "詳細" %><br />
              <%= form.text_area :text, class: :form__text %>
            </div>
            <div class="field">
              <%= form.label :image, "画像" %><br />
              <%= form.file_field :image %>
            </div>
            <div class="actions">
              <%= form.submit "追加する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
      </div>

      <div class="aqua__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@aqua,@comment], local: true) do |form| %>
            <div class="field">
              <%= form.label :text, "コメント" %><br />
              <%= form.text_field :text %>
            </div>
            <div class="actions">
              <%= form.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.text %>
                <%= link_to comment.user.nickname, user_path(comment.user.id), class: :comment_user %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
