<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="user__icon">
        <%= image_tag @user.image %>
      </div>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのアクアリウム一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial:"aquas/aqua",collection: @aquas %>
      </div>
    </div>
  </div>
</div>